@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');


* {
	font-family: 'Inter', sans-serif;
}

body {
	padding: 1em;
}

li {
	font-size: 1.6em;
	margin: 0.4em 0em;
	color: #696969;
	
}

ul {
	list-style-type: none;
}

p {
	font-size: 1.4;
	color: grey;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


th, td {
	text-align: left;
	font-size: 1.1em;
	padding: 0.8em 0.2em;
	border-bottom: 1px solid #ddd;

}

td {
	color: #696969;
	max-width: 40vw;
}

table {
	width: 100%;
	border-spacing: 0;

}

.fa-rss {
	color: #e74c3c;
}


/*-------------------------------------------*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	body {
		margin-left: 10vw;
		margin-right: 30vw;
	}

	hr {
		max-width: 400px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}